
.timer-container {
  text-align: center;
}

.timer-chip {
  padding: 20px;
  margin: 16px;
}

.timer-label {
  font-size: x-large;
}

.timer-days {
  padding-inline-start: 4px;
  padding-inline-end: 16px;
}

.answer-chip {
  padding: 20px;
  margin: 16px;
  font-size: x-large;
}

.answer-input {
  background-color: #ddd;
  width: 85%;
  margin: 0 auto;
  border-radius: 8px;
}

.choice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choice-item {
  width: 30vw;
  height: 30vw;
  margin: 8px;
}

.letters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px 0;
}

.letter-item {
  width: 10vw;
  height: 10vw;
  margin: 2px;
}