.timer-container {
  text-align: center;
}

.timer-chip {
  padding: 20px;
  margin: 16px;
}

.timer-label {
  font-size: x-large;
}

.timer-days {
  padding-inline-start: 4px;
  padding-inline-end: 16px;
}
