:root {
  direction: rtl;
}

ion-split-pane {
  flex-direction: row-reverse;
}

* {
  font-family: 'Vazir' !important;
}

.alert-radio-icon.sc-ion-alert-md {
  left: unset;
  right: 26px;
}

.label-floating.sc-ion-label-md-h {
  transform-origin: right top;
}